.twobmHorizintalCreatePariciapnt  .sapMFlexItem {
	width: 50% !important;
}

.twobmPaddingInputName  {
	padding-right: 10px !important;
}

.twobmOnlyShowOnPhone {
  	display: none !important;
  }
  
.twobmNotShowOnPhone {
  	display: inline !important;
  }


@media screen and (max-width: 480px) {
  .twobmOnlyShowOnPhone {
  	display: inline !important;
  }
  
  .twobmNotShowOnPhone {
  	display: none !important;
  }
}

.twobmNotShowFullname {
  	display: none !important;
  }
  
.twobmShowFullname {
  	display: inline !important;
  }


.twobomParticipantsHeaderTextColor {
	color: black !important;
	font-weight: 100 !important;
}

.twobmSelectedRow {
    background: #427cac !important;
}

.twobmSelectedRow .sapMListTblCell .sapMText {
	color: #fff !important;
}

.twobmSelectedRow .sapMListTblNavCol .sapUiIcon {
	color: #fff !important;
}

/*
.twobomParticipantsColumnFirstNameHidden {
	display: none !important;
}

.twobomParticipantsColumnName::after {
	color: black !important;
	font-weight: 100 !important;

	content: "s";
  display: block; 
  clear: both;
	
}

.twobomParticipantsColumnName.setNaem:before {
	content: "Navn" ; 
}*/





